.pageWrapper {
  background-color: #10141e;
  padding: 82px 0 61px 16px;
  color: #fff;
  min-height: 90vh;
}

@media (min-width: 768px) {
  .pageWrapper {
    padding: 82px 0 56px 25px;
  }
}

@media (min-width: 1024px) {
  .pageWrapper {
    padding: 60px 0 52px 6%;
  }
}
