.card {
  width: 46%;
}
.card:hover {
  cursor: pointer;
}
.card:hover .overlay {
  display: block;
}
.cardImageContainer {
  position: relative;
  margin-bottom: 8px;
}
.cardImg {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.bookmarked {
  width: 32px;
  height: 32px;
  background-color: #979797;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  border: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 100;
}
.bookmarked:hover {
  background-color: #fff;
}
.bookmarked:hover img {
  filter: brightness(-300%);
}
.icon {
  width: 12px;
}
.textContent {
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  color: rgba(255, 255, 255, 0.75);
}
.title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.overlay button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 19px;
  align-items: center;
  border-radius: 28.5px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 18px;
  padding: 9px 24px 9px 9px;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .card {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 20%;
  }
  .textContent {
    font-size: 13px;
  }
  .title {
    font-size: 18px;
  }
}
