.trendingCard {
  width: 62.5%;
  height: 140px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  padding: 8px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  transition: all 0.4;
}

.trendingCard:hover {
  cursor: pointer;
  background-size: 102%;
}
.trendingCard:hover .overlay {
  display: block;
}

.bookmarked {
  width: 32px;
  height: 32px;
  background-color: #979797;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  border: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 100;
}
.bookmarked:hover {
  background-color: #fff;
}
.bookmarked:hover img {
  filter: brightness(-300%);
}
.categoryIcon {
  margin-left: 14px;
  margin-right: 6px;
}
.textContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textTop {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.title {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rating {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  border-radius: 10.5px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 2px 8px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.overlay button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 19px;
  align-items: center;
  border-radius: 28.5px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 18px;
  padding: 9px 24px 9px 9px;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .trendingCard {
    width: 470px;
    height: 230px;
  }
}
@media (min-width: 1024px) {
  .trendingCard {
    padding: 16px 24px 24px;
  }
  .textTop {
    font-size: 15px;
  }
  .title {
    font-size: 24px;
  }
}
