@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}
@media (min-width: 1024px) {
  .card-container {
    gap: 40px;
  }
}
.icon {
  width: 32px;
}
@media (min-width: 1024px) {
  .swiper-wrapper {
    width: 100vw !important;
  }
}
